*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;

}

body{

background:#f8f8f8;

}

/* Navbar */

nav{

width:90%;

margin:auto;

padding:20px 0;

display:flex;

justify-content:space-between;

align-items:center;

}

nav ul{

display:flex;

gap:25px;

list-style:none;

}

nav a{

text-decoration:none;

color:black;

}

nav button{

padding:10px 20px;

background:#e63946;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}

/* Hero */

.hero{

height:90vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

background:#ffe8d6;

}

.hero h1{

font-size:60px;

margin-bottom:20px;

}

.hero p{

font-size:20px;

margin-bottom:30px;

}

.hero button{

padding:15px 30px;

background:#e63946;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}